# Archivo: .env.example
# Copy this file to .env2 and fill in your actual values

# Clave secreta de Django (genera una nueva clave única)
SECRET_KEY='your-secret-key-here'

# Modo de depuración (use False in production)
DEBUG=True

# Credenciales de la Base de Datos
DB_NAME='your_database_name'
DB_USER='your_database_user'
DB_PASSWORD='your_database_password'
DB_HOST='your_database_host'
DB_PORT='5432'

API_TOKEN='your-api-token-here'
API_BASE_URL='https://www.consultalistaspeps.com/ClientArea/BLS_WS_BLS/ConsultaListasPeps.svc/rest/'
